:root {
  --pressed-state: #404bbf;
  --primary-brand: #4d5ae5;
  --primary-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtext-color: #8e8f99;
  --first-bg-color: #f4f4fd;
  --deafult-white-color: #ffffff;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
  background-color: var(--deafult-white-color);
}

@media screen and (min-width: 320px) {
  html,
  .header,
  .footer,
  .container,
  .section,
  .backdrop,
  .menu-container {
    overflow-x: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Utilities */

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1147px){
  .section-team .container {
    max-width: 582px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }

  .customers .container {
    max-width: 582px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }

  .footer .container {
    max-width: 582px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.sub-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
}

.text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Header */

.header {
  border-bottom: 1px solid var(--first-button-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px) {
  .header {
    padding: 24px 16px;
  }
}

/* Logo */

.logo {
  margin-right: 76px;

  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.33;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.accent {
  color: var(--primary-brand);
}

/* Navigation */

.menu-nav .link:hover, .menu-nav .link:focus {
  color: var(--pressed-state);
}

.contact-link:hover, .contact-link:focus {
    color: var(--pressed-state);
  }

/* Nav Mobile */

@media screen and (max-width: 767px) {
  .menu-nav,
  .contact-list {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Tablet Navigation */

@media screen and (min-width: 768px){
  .nav {
    display: flex;
    align-items: center;
  }

  .main-nav {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 120px;
  }

  .menu-nav {
    display: flex;
  }

  .menu-nav .item + .item {
    margin-left: 40px;
  }

  .menu-nav .link {
    position: relative;

    display: block;
    padding-top: 24px;
    padding-bottom: 22px;

    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em;

    transition: color 250ms var(--timing-function);
  }

  .menu-nav .link.current {
    color: var(--pressed-state);
  }

  .menu-nav .link.current::after {
    position: absolute;
    bottom: 0px;

    content: '';
    display: block;

    width: 100%;
    height: 4px;

    background-color: var(--pressed-state);
    border-radius: 2px;
  }

  .contact-link {
    display: inline-block;

    color: var(--second-color);
    font-style: normal;
    font-size: 12px;
    line-height: 1.33;

    text-decoration: none;
    letter-spacing: 0.04em;

    transition: color 250ms var(--timing-function);
  }

  .address {
    margin-left: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1147px){
  .contact-list .item:first-child{
    padding-bottom: 12px;
  }
}

/* Desktop Navigation */

@media screen and (min-width: 1158px) {
  .menu-nav .link.current::after {
    position: absolute;
    bottom: -1px;

    content: '';
    display: block;

    width: 100%;
    height: 4px;

    background-color: var(--pressed-state);
    border-radius: 2px;
  }

  .address {
    margin-left: auto;
  }

  .contact-link {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--second-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em;

    transition: color 250ms var(--timing-function);
  }

  .contact-list {
    display: flex;
  }

  .contact-list .item + .item {
    margin-left: 40px;
  }
}

/* Mobile Menu */

@media screen and (max-width: 767px) {
  .menu-toggle {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

@media screen and (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}

.mobile-icon {
  display: inline-block;
  width: 32px;
  height: 22px;
  stroke: #2e2f42;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}

.menu-toggle.js-close-menu {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 24px;
  height: 24px;
  background-color: var(--accent-color);
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 0;
  cursor: pointer;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.mobile-icon-close {
  display: block;
  width: 8px;
  height: 8px;
  fill: currentColor;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;
  padding: 80px 40px 40px 40px;

  background-color: var(--deafult-white-color);
  transform: translateX(100%);
  transition: transform 250ms var(--timing-function);
  overflow-y: hidden;
  overflow-x: hidden;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-nav {
  width: 100%;
  height: 100%;
  max-width: 428px;
  max-height: 796px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mobile-menu .link {
  display: block;
  color: var(--text-color);
  font-weight: 500;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
  text-decoration: none;
}

.mobile-menu .link.current {
  color: var(--primary-brand);
}

.mobile-menu .item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-contacts {
  margin-top: auto;
}

.mobile-auth-nav {
  margin-bottom: 48px;
}

.mobile-auth-nav .item {
  margin-bottom: 40px;
}

.mobile-auth-nav .link {
  color: var(--text-color);
  transition: color 250ms var(--timing-function);
  font-size: 20px;
}

.tel.link {
  font-weight: 799;
  font-size: 36px;
  color: var(--primary-brand);
}

.menu-container .soc-med-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 61px;
  row-gap: 15px;
}

.soc-med-link {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: var(--primary-brand);
  color: var(--deafult-white-color);
  border-radius: 50%;
  padding: 8px;
  transition: background-color 250ms var(--timing-function);
}

.soc-med-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

/* Hero */

.section-hero {
  width: 100%;
  max-width: 428px;
  max-height: 432px;
  padding: 112px 0;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobilehero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobilehero2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Hero Tablet */

@media (min-width: 768px) and (max-width: 1157px) {
  .section-hero {
    background: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablethero.jpg);
    background-position: center;
    max-width: 768px;
    max-height: 436px;
    padding-top: 112px;
    padding-bottom: 108px;
  }
}

@media (min-width: 768px) and (max-width: 1157px) and (min-device-pixel-ratio: 2),
  (min-width: 768px) and (max-width: 1157px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 768px) and (max-width: 1157px) and (min-resolution: 192dpi),
  (min-width: 768px) and (max-width: 1157px) and (min-resolution: 2dppx) {
  .section-hero {
    background: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablethero@2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Desktop Hero  */

@media (min-width: 1158px) {
  .section-hero {
    background: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    max-height: 600px;

    background-color: var(--primary-color);
    text-align: center;
  }
}

@media (min-width: 1158px) and (min-device-pixel-ratio: 2),
  (min-width: 1158px) and (-webkit-min-device-pixel-ratio: 2),
  (min-width: 1158px) and (min-resolution: 192dpi),
  (min-width: 1158px) and (min-resolution: 2dppx) {
  .section-hero {
    background: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.main-title {
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;

  font-size: 36px;
  color: var(--deafult-white-color);
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  text-transform: capitalize ;
  /* margin-top: 0; */
}

/* Mobile Hero */

@media screen and (max-width: 767px) {
  .main-title {
    max-width: 320px;
  }
}

/* Tablet Hero */

@media screen and (min-width: 768px) {
  .main-title {
    width: 496px;
    font-size: 56px;
    margin-bottom: 40px;
  }
}

.hero-button {
  color: var(--deafult-white-color);
  background-color: var(--primary-brand);
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.04em;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  min-width: 169px;
  text-align: center;
  padding: 16px 32px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}

/* Advantages */

/* Mobile Advant */

@media screen and (max-width: 767px) {
  .section-advant {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .list-advant .item{
    margin-bottom: 72px;
  }

  .list-advant .item:last-child {
    margin-bottom: 0;
  }

}

@media screen and (max-width: 1157px) {
  .icon-advant {
    display: none;
  }
}

.list-advant .sub-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* Tablet Advant */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .section-advant {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .list-advant.list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .list-advant .item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .list-advant .sub-title {
    text-align: left;
  }
}

/* Desktop Advant */

@media screen and (min-width: 1158px) {
  .section-advant {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .list-advant {
    display: flex;
  }

  .list-advant .item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .list-advant .item + .item {
    margin-left: 24px;
  }

  .icon-advant {
    padding: 24px 0;
    margin-bottom: 8px;

    display: flex;
    justify-content: center;

    background-color: var(--first-bg-color);
    border-radius: 4px;
  }

  .icon {
    width: 64px;
    height: 64px;
  }

  .list-advant .sub-title {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
}

/* ToDo */

@media screen and (max-width: 1157px) {
  .todo-section {
    display: none;
  }
}

.todo-section {
  padding-bottom: 120px;
}

.todo-list {
  display: flex;
  justify-content: center;
}

.todo-list .item + .item {
  margin-left: 24px;
}

/* Team */
.section-team {
  background-color: var(--first-bg-color);
}

@media screen and (max-width: 767px){
  .section-team{
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 768px){
  .section-team {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1148px){
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-team .sub-title,
.section-team .text {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .section-team .container {
    text-align: center;
  }
  .team-list .item:not(:last-child) {
    margin-bottom: 72px;
  }
}

.team-list {
  display: inline-block;
}

/* Tablet Team */

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }
}

.team-list .item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--deafult-white-color);
  border-radius: 0px 0px 4px 4px;
}

.team-content {
  padding: 32px 16px;
}

.team-text {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-link {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: var(--primary-brand);
  color: var(--deafult-white-color);
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state);
}

.social-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

/* Customers */

@media screen and (max-width: 768px){
  .customers{
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 768px){
  .customers{
    padding-top: 96px;
    padding-bottom: 96px;  
  }
}

@media screen and (min-width: 1148px){
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}

@media (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}

@media (min-width: 1158px) {
  .customer-list {
    flex-wrap: nowrap;
  }
}


@media screen and (max-width: 767px) {
  .customers-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1147px) {
  .customers-item {
    width: 30%;
    /* flex-basis: calc((100% - 234px) / 3); */
  }
}

@media screen and (min-width: 1148px){
  .customers-item {
    width: 168px;
    height: 88px;
  }
}

.customers-item .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 88px;
  border: 1px solid var(--subtext-color);
  color: var(--subtext-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item .link:hover,
.customers-item .link:focus {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
}

.customers-icon {
  fill: currentColor;
  width: 104px;
  height: 54px;
}

/* Footer */

.footer {
  padding: 96px 0;
  background-color: var(--primary-color);
}

@media screen and (min-width: 1148px){
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-content {
  margin: 0 auto;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-content {
    justify-content: center;
    flex-direction: column;
    gap: 72px;
  }
}

@media (min-width: 768px) and (max-width: 1157px) {
  .footer-content {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
}

@media (min-width: 1158px) {
  .footer-content {
    gap: 80px;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;

  align-items: center;
  font-family: 'Raleway', sans-serif;
  color: var(--deafult-white-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .footer-text {
    text-align: center;
    margin: 0 auto;
  }

  .footer-social {
    margin: 0 auto;
  }
}

.container .footer-text {
  width: 260px;
}

.footer .white-text {
  width: 264px;

  text-align: left;
  color: var(--deafult-white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-title {
  display: block;
  margin-bottom: 16px;

  color: var(--deafult-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .footer-title {
    text-align: center;
  }
}

.footer-social .list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-link {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--text-color);
  color: var(--deafult-white-color);
  border-radius: 50%;
  padding: 8px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--success-color);
}

.footer-icon {
  display: block;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
}

/* Footer Form */

@media (min-width: 768px) and (max-width: 1157px) {
  .form {
    margin-left: -43px;
  }
}

.form-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .form-field {
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (min-width: 768px) {
  .form-field {
    flex-direction: row;
    gap: 24px;
  }
}

.footer-input {
  width: 100%;
  height: 40px;
  padding-left: 16px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .footer-input {
    width: 264px;
  }
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 165px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--deafult-white-color);
  background: var(--primary-brand);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function);
}

.footer-button:hover,
.footer-button:focus {
  background: var(--pressed-state);
}

.icon-send {
  width: 24px;
  height: 24px;
}

/* =========== Portfolio =========== */

/* Works Button */

.works-section {
  padding: 48px 0;
}

@media screen and (min-width: 768px) {
  .works-section {
    padding: 64px 0;
  }
}

@media screen and (min-width: 1148px) {
  .works-section {
    padding: 92px 0;
  }
}

.works-list {
  display: flex;
  column-gap: 28px;
  margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
  .works-list {
    flex-wrap: wrap;
    row-gap: 16px;
    justify-content: left;
    padding-left: 16px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .works-list {
    justify-content: center;
  }
}

.works-button {
  padding: 8px 16px;
  font-family: Roboto;
  color: var(--primary-brand);
  background-color: var(--first-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.works-button:hover,
.works-button:focus {
  color: var(--deafult-white-color);
  background-color: var(--pressed-state);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Card List */

@media (min-width: 768px) and (max-width: 1147px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 18px;
    row-gap: 48px;
  }
}

@media screen and (min-width: 1148px) {
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 24px;
  }
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: #4d5ae5;
  opacity: 0;

  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
  transform: translateY(100%);
}

.card-link:hover .card-overlay,
.card-link:focus .card-overlay {
  opacity: 1;
  transform: translate(0);
}

.card-content {
  padding: 32px 16px;
  border-bottom: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.card-text {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 296px;

  color: var(--deafult-white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.card-link {
  display: block;
  color: var(--primary-color);
  text-decoration: none;
  transition: box-shadow 250ms var(--timing-function);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ======== Modal ======== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 394px;
  padding: 72px 24px 10px 24px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.button-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background 250ms var(--timing-function),
    fill 250ms var(--timing-function);
  cursor: pointer;
  fill: currentColor;
}
.button-icon:hover,
.button-icon:focus {
  background-color: var(--primary-brand);
  fill: var(--deafult-white-color);
}

.modal-icon {
  width: 8px;
  height: 8px;
}

.modal-title {
  margin-bottom: 16px;

  color: var(--primary-color);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Form */

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-label {
  margin-bottom: 4px;

  color: var(--border-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border 250ms var(--timing-function);
}

.form-input:focus {
  border: 1px solid var(--primary-brand);
}

.input-icon {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-function);
}

.big-icon {
  width: 18px;
  height: 24px;
}

.form-input:focus + .form-icon {
  fill: var(--primary-brand);
}

.textarea {
  margin-bottom: 16px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;
  resize: none;

  transition: border 250ms var(--timing-function);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-textarea:focus {
  border: 1px solid var(--primary-brand);
}

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.check-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--border-color);
}

.check-label .link {
  color: var(--primary-brand);
  margin-left: 4px;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 16px;

  border: 1px solid var(--primary-color);
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
  background-image: url('../images/checkbox1.svg');
  background-color: var(--primary-brand);
  background-size: contain;
  background-origin: border-box;
  border: transparent;
}

.form-button {
  margin: 0 25%;
}
