:root {
  --pressed-state: #404bbf;
  --primary-brand: #4d5ae5;
  --primary-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtext-color: #8e8f99;
  --first-bg-color: #f4f4fd;
  --deafult-white-color: #ffffff;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
  background-color: var(--deafult-white-color);
}

@media screen and (min-width: 320px) {
  html,
  .header,
  .footer,
  .container,
  .section,
  .backdrop,
  .menu-container {
    overflow-x: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Utilities */

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.sub-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
}

.text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Header */

.header {
  border-bottom: 1px solid var(--first-button-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px) {
  .header {
    padding: 24px 16px;
  }
}

/* Logo */

.logo {
  margin-right: 76px;

  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.33;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.accent {
  color: var(--primary-brand);
}

@media screen and (max-width: 767px) {
  .menu-nav,
  .contact-list {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Mobile Nav */

@media screen and (max-width: 767px) {
  .menu-toggle {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.mobile-icon {
  display: inline-block;
  width: 32px;
  height: 22px;
  stroke: #2e2f42;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}

.menu-toggle.js-close-menu {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 24px;
  height: 24px;
  background-color: var(--accent-color);
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin: 0;
  cursor: pointer;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
}

.mobile-icon-close {
  display: block;
  width: 8px;
  height: 8px;
  fill: currentColor;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;
  padding: 80px 50px 40px 40px;

  background-color: var(--deafult-white-color);
  transform: translateX(100%);
  transition: transform 250ms var(--timing-function);
  overflow-y: hidden;
  overflow-x: hidden;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-nav {
  width: 100%;
  height: 100%;
  max-width: 428px;
  max-height: 796px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mobile-menu .link {
  display: block;
  color: var(--text-color);
  font-weight: 500;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
  text-decoration: none;
}

.mobile-menu .link.current {
  color: var(--primary-brand);
}

.mobile-menu .item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-contacts {
  margin-top: auto;
}

.mobile-auth-nav {
  margin-bottom: 48px;
}

.mobile-auth-nav .item {
  margin-bottom: 40px;
}

.mobile-auth-nav .link {
  color: var(--text-color);
  transition: color 250ms var(--timing-function);
  font-size: 20px;
}

.tel.link {
  font-size: 36px;
  color: var(--primary-brand);
}

.menu-container .soc-med-list {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
}

.soc-med-link {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: var(--primary-brand);
  color: var(--deafult-white-color);
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms var(--timing-function);
}

.soc-med-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

/* Hero */

.section-hero {
  width: 100%;
  max-width: 428px;
  max-height: 432px;
  padding: 112px 0;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mobilehero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobilehero2x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.main-title {
  font-size: 36px;
  color: var(--deafult-white-color);
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  /* margin-top: 0; */
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .main-title {
    width: calc(100% - 112px);
    max-width: 318px;
  }
}

.hero-button {
  color: var(--deafult-white-color);
  background-color: var(--primary-brand);
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.04em;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  min-width: 169px;
  text-align: center;
  padding: 16px 32px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}

/* Advantages */

.section-advant {
  padding: 77px 0;
}

@media screen and (max-width: 1157px) {
  .icon-advant {
    display: none;
  }
}

.list-advant .sub-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.list-advant .item {
  margin-bottom: 72px;
}

/* ToDo */

@media screen and (max-width: 1157px) {
  .todo-section {
    display: none;
  }
}

/* Team */

.section-team {
  padding-top: 86px;
  padding-bottom: 128px;
  background-color: var(--light-color);
}

@media screen and (max-width: 767px) {
  .section-team .container {
    text-align: center;
  }
}

.team-list {
  display: inline-block;
}

.team-list .item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--deafult-white-color);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:not(:last-child) {
  margin-bottom: 72px;
}

.team-img {
  display: inline-block;
  padding-bottom: 32px;
}

.team-content {
  padding: 32px 16px;
}

.team-text {
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-link {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: var(--primary-brand);
  color: var(--deafult-white-color);
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state);
}

.social-icon {
  width: 16px;
  height: 16px;
  fill: currentColor;
}

/* Customers */

.customers {
  padding-top: 86px;
  padding-bottom: 96px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customers-list .item {
  flex-basis: calc((100% - 16px) / 2);
  margin-bottom: 72px;
  margin-right: 3px;
}

.customers-item .link {
  width: 190px;
  height: 88px;
  padding: 16px 40px;

  display: inline-block;
  border: 1px solid var(--subtext-color);
  border-radius: 4px;
  color: var(--subtext-color);
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--primary-brand);
  color: var(--primary-brand);
}

.customers-icon {
  display: block;
  width: 110px;
  height: 56px;

  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer */

.footer {
  padding: 96px 0;
  background-color: var(--primary-color);
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 72px;
  flex-direction: column;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;

  align-items: center;
  font-family: 'Raleway', sans-serif;
  color: var(--deafult-white-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .footer-text {
    text-align: center;
  }
}

.container .footer-text {
  width: 268px;
  margin-right: auto;
  margin-left: auto;
}

.footer .white-text {
  width: 264px;

  text-align: left;
  color: var(--deafult-white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-title {
  display: block;
  margin-bottom: 16px;

  text-align: center;
  color: var(--deafult-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social {
  margin: 0 auto;
}

.footer-social .list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-link {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--text-color);
  color: var(--deafult-white-color);
  border-radius: 50%;
  padding: 8px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--success-color);
}

.footer-icon {
  display: block;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
}

/* Footer Form */

.form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.footer-input {
  width: 100%;
  height: 40px;
  padding-left: 16px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.footer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 165px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--deafult-white-color);
  background: var(--primary-brand);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function);
}

.footer-button:hover,
.footer-button:focus {
  background: var(--pressed-state);
}

.icon-send {
  width: 24px;
  height: 24px;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 408px;
  min-height: 576px;
  padding: 72px 24px 24px 24px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.button-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  height: 24px;
  width: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background 250ms var(--timing-function),
    fill 250ms var(--timing-function);
  cursor: pointer;
  fill: currentColor;
}
.button-icon:hover,
.button-icon:focus {
  background-color: var(--accent);
  fill: var(--deafult-white-color);
}

.modal-icon {
  width: 8px;
  height: 8px;
}

.modal-title {
  margin-bottom: 16px;

  color: var(--primary-color);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Form */

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-label {
  margin-bottom: 4px;

  color: var(--border-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-input {
  padding-left: 38px;
  width: 360px;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border 250ms var(--timing-function);
}

.form-input:focus {
  border: 1px solid var(--accent);
}

.input-icon {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-function);
}

.big-icon {
  width: 18px;
  height: 24px;
}

.form-input:focus + .form-icon {
  fill: var(--accent);
}

.textarea {
  margin-bottom: 16px;
}

.form-textarea {
  width: 360px;
  height: 120px;
  padding: 8px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;
  resize: none;

  transition: border 250ms var(--timing-function);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-textarea:focus {
  border: 1px solid var(--accent);
}

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.check-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--border-color);
}

.link {
  color: var(--accent);
  margin-left: 4px;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 16px;

  border: 1px solid var(--primary-color);
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
  background-image: url('../images/checkbox1.svg');
  background-color: var(--accent);
  background-size: contain;
  background-origin: border-box;
  border: transparent;
}

.form-button {
  margin: 0 96px;
}
